nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: block;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  color: var(--color-light);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  margin-left: 10px;
  width:30px;
  height:30px;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

nav a.active {

  background: var(--color-primary);
  color: var(--color-bg);
}
